.CalendlyLoaderCircle {
  vertical-align: middle;
  animation-fill-mode: both;
  animation: calendlyLoaderCircleAnim 1.4s infinite;
}

@keyframes calendlyLoaderCircleAnim {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
